[init]
	defaultBranch = main
[user]
	email = sam@rgrsn.me
	name = Sam Rogerson
[alias]
	co = checkout
	ci = commit
	st = status
	sts = status --short
[hub]
	host = github.palantir.build
[url "git@github.palantir.build:"]
	insteadOf = https://github.palantir.build
